<form (ngSubmit)="onSubmit(f)"#f="ngForm">
  <mat-form-field>
    <input
    matInput
    placeholder="Titulo"
    name="title"

id="title"
ngModel
    >
    </mat-form-field>
    <mat-form-field>
      <input
      matInput
      placeholder="Description"
      name="description"

  id="description"
  ngModel
      >
      </mat-form-field>
      <mat-grid-list cols="3" rowHeight="3:2">
        <mat-grid-tile *ngFor="let icon of icons">
          <i mat-list-icon class="devicon-{{icon.name}}-{{getIconVersion(icon)}}"></i>
        </mat-grid-tile>
      </mat-grid-list>


      <button mat-raised-button color="accent" type="submit">Enviar</button>
</form>
